<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>
  <% include ../../partials/breadcrumbs.ejs %>
  <% include ../../partials/alerts.ejs %>
  <% console.log(loggedin) %>
  <div class="row top-padding bottom-padding">
    <div style="width: 30%; margin: 25px auto;">
      <h1 style="text-align: center">Αλλαγή Κωδικού</h1>
      <form action="/account/edit/pwd?_method=PUT" method="post"
        oninput='newPasswordConfirm.setCustomValidity(newPasswordConfirm.value != newPassword.value ? "Passwords do not match." : "")'>
        <div class="form-group">
          <label for="input_current_password">Τρέχων Κωδικός πρόσβασης</label>
          <input type="password" class="form-control" id="input_current_password" name="password"
            placeholder="Κωδικός πρόσβασης" required>
        </div>
        <br>
        <div class="form-group">
          <label for="input_new_password">Νέος Κωδικός πρόσβασης</label>
          <input type="password" class="form-control" id="input_new_password" minlength="8" name="newPassword"
            placeholder="Κωδικός πρόσβασης" required>
        </div>
        <div class="form-group">
          <label for="input_new_password_confirm">Επιβεβαίωση Κωδικού πρόσβασης</label>
          <input type="password" class="form-control" id="input_new_password_confirm" minlength="8"
            name="newPasswordConfirm" placeholder="Κωδικός πρόσβασης" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Αλλαγή Δεδομένων</button>
      </form>
    </div>
  </div>

  <% include ../../partials/footer.ejs %>


</body>

</html>