<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>

    <div class="container top-padding bottom-padding">
        <h1 style="text-align:center">Οδηγίες για ΑμεΑ</h1>
        <p>
            Το πρόβλημα της μετακίνησης-μεταφοράς των εμποδιζομένων ατόμων στις σύγχρονες πόλεις παραμένει έντονο με
            αρνητικές
            συνέπειες στην ποιότητα ζωής λόγω της μη ικανοποιητικής πρόσβασης στα ΜΜΜ. Ως εμποδιζόμενα άτομα νοούνται τα
            πρόσωπα
            εκείνα που λόγω κάποιας προσωπικής αιτίας ιδιαιτερότητας η καταστάσεως (Νόσος, Πάθησης, Βλάβης, Εγκυμοσύνης,
            μεταφορά
            αντικειμένων κλπ.) ή λόγω διαφόρων φραγμών και εμποδίων που εγείρονται στο κάθε είδους περιβάλλον
            εμποδίζεται η
            δυνατότητα
            και ικανότητάς τους για πρόσβαση σε διάφορους χώρους και στα ΜΜΜ.
        </p>

        <p>
            Τα εμποδιζόμενα άτομα βάσει στατιστικών ανέρχονται στο 42.5% του ελληνικού πληθυσμού. Ανάλυση:
            <ul>
                <li>10% ΑμεΑ. Άτομα με κάθε είδους Αναπηρία.</li>
                <li>14% Ηλικιωμένοι 60-74 ετών.</li>
                <li>6% Υπερήλικες άνω των 75 ετών.</li>
                <li>11% Νήπια 0-4 ετών και οι συνοδοί των.</li>
                <li>1,5% Έγκυες γυναίκες.</li>
            </ul>
        </p>

        <p>
            Η κακή ποιότητα των παρεχομένων υπηρεσιών δημιουργούν συνθήκες αποκλεισμού των ατόμων με ανάγκες
            στη καθημερινή τους ζωή. Ο σχεδιασμός και η ανάπτυξη των μέσων μεταφοράς δεν καλύπτει μόνο τις υπάρχουσες
            ανάγκες μιας μετακίνησης του πληθυσμού αλλά σχεδιάζεται να προσελκύει όλο και περισσότερες ομάδες νέων
            επιβατών
            , απαλείφοντας προβλήματα κοινωνικού αποκλεισμού και προσφέροντας καλύτερες υπηρεσίες σε όλους τους χρήστες.
        </p>

        <br>

        <strong>ΝΕΑ ΓΡΑΜΜΗ ΑΠΟΚΛΕΙΣΤΙΚΗΣ ΕΞΥΠΗΡΕΤΗΣΗΣ ΑΤΟΜΩΝ ΜΕ ΑΝΑΠΗΡΙΑ</strong>

        <p>Για την άμεση και αποκλειστική εξυπηρέτηση των ατόμων με αναπηρία ο ΟΑΣΑ έχει θέση σε λειτουργία νέα
            τηλεφωνική γραμμή
            210 82 00 887 που λειτουργεί από 06:30 - 22:30 τις καθημερινές και από 07:30 - 22:30 τα Σ/Κ.
        </p>

        <br>

        <strong>ΕΙΔΙΚΑ ΟΧΗΜΑΤΑ ΓΙΑ ΤΗΝ ΜΕΤΑΦΟΡΑ ΑΤΟΜΩΝ ΜΕ ΑΝΑΠΗΡΙΑ</strong>

        <p>
            Με μέριμνα της Ο.ΣΥ. Α.Ε λειτουργεί υπηρεσία για την εξυπηρέτηση ατόμων με αναπηρία (ΑμεΑ),
            η οποία παρέχει δωρεάν μετακίνηση σε όσους δεν μπορούν να εξυπηρετηθούν από τα συμβατικά οχήματα των αστικών
            συγκοινωνιών.
        </p>

        <p>
            Η υπηρεσία διαθέτει τρία (3) ειδικά οχήματα που διαθέτουν μικρό αριθμό (3 - 7) θέσεων για επιβάτες, θέσεις
            (3 - 4) για αναπηρικά αμαξίδια και μία θέση συνοδού.
        </p>

        <p>
            Η χρήση της υπηρεσίας αυτής, για την μετακίνηση ατόμων με αναπηρία θα γίνεται απαραίτητα με ραντεβού και με
            την προϋπόθεση ότι θα υπάρχει διαθέσιμο όχημα.
        </p>

        <p>
            Για ραντεβού οι ενδιαφερόμενοι θα καλούν το τηλέφωνο 210 42 70 748. Οι ώρες εξυπηρέτησης των ΑμεΑ με τα
            ειδικά οχήματα θα είναι από από Δευτέρα - Παρασκευή από 07:30 - 14:00
        </p>

        <p><strong><a href="/stops/accessibility">Πατήστε εδώ για να δείτε τις στάσεις με προεξοχές.</a></strong></p>

    </div>

    <% include ../../partials/footer.ejs %>


</body>

</html>