<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Για Επιχειρηματίες</h1>
        </div>

        <div class="container">

            <strong>ΑΓΟΡΑ ΕΙΣΙΤΗΡΙΩΝ</strong>
            <p>
                Για μαζική αγορά εισιτηρίων δημιουργείστε λογαριασμό <a href="/orders">εδώ</a>
            </p>

            <br>

            <strong>ΔΙΑΦΗΜΙΣΤΕ ΣΤΑ ΛΕΩΦΟΡΕΙΑ ΜΑΣ</strong>
            <p>
                Η διαφήμιση στο λεωφορείο ΟΑΣΑ είναι ένας εξαιρετικός τρόπος να προβάλετε τα προϊόντα ή τις υπηρεσίες
                σας σε
                μια τοπική αγορά και δίνει μια ευχάριστη νότα στην καθημερινή διακίνηση στους δρόμους.
                Σκεπτόμενοι ότι η διαφήμιση σε λεωφορείο είναι μια μέθοδος χαμηλού κόστους αγγίζοντας ένα ευρύ φάσμα
                ατόμων
                έχει γίνει μια αγαπημένη μέθοδος για τους επαγγελματίες του Μάρκετινγκ στο εξωτερικό.
            </p>

            <br>

            <strong>Στοιχεία Επικοινωνίας</strong>

            <p>
                Τηλέφωνο: 210-82.00.999
            </p>
            <p>
                Φαξ: 210-82.12.219
            </p>
            <p>
                e-mail: oasa@oasa.gr
            </p>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>

</body>

</html>