<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>

    <div class="row top-padding bottom-padding">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Επικοινωνία</h1>
            <div class="container">
                <p>Τηλέφωνο: 210-82.00.999</p>
                <p>Φαξ: 210-82.12.219 </p>
                <p>e-mail: oasa@oasa.gr</p>
            </div>
        </div>
    </div>

    <% include ../../partials/footer.ejs %>


</body>

</html>