<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Ιστορία</h1>
        </div>
        <div class="container">
            <p>
                Η Ανώνυμη Εταιρεία με την επωνυμία «ΟΡΓΑΝΙΣΜΟΣ ΑΣΤΙΚΩΝ ΣΥΓΚΟΙΝΩΝΙΩΝ ΑΘΗΝΩΝ» και τον διακριτικό τίτλο
                «Ο.Α.Σ.Α.
                Α.Ε.» είναι δημόσια επιχείρηση κοινωφελούς χαρακτήρα που ιδρύθηκε ως νομικό πρόσωπο ιδιωτικού δικαίου με
                τον
                ν.2175/93 (Α΄211) και υπόκειται νομοθετικά στις διατάξεις των ν. 3920/2011 (Α’ 33), ν. 3429/2005 (Α’
                314),
                ν.
                4389/2016 (Α’ 94) και ν. 4548/2018 (Α’ 104), όπως ισχύουν. Σκοπός του Ο.Α.Σ.Α. είναι ο στρατηγικός και
                επιχειρησιακός σχεδιασμός, ο συντονισμός και ο έλεγχος του συγκοινωνιακού έργου που εκτελείται από τα
                μέσα
                (επίγεια και υπόγεια) μαζικής μεταφοράς στην περιφέρεια Αττικής. Η Ο.Α.Σ.Α. Α.Ε. είναι ο μοναδικός
                μέτοχος
                των
                εταιρειών παροχής συγκοινωνιακού έργου, «ΟΔΙΚΕΣ ΣΥΓΚΟΙΝΩΝΙΕΣ» (Ο.ΣΥ. Α.Ε) αρμόδια για τη λειτουργία των
                Λεωφορείων και των Τρόλεϊ και «ΣΤΑΘΕΡΕΣ ΣΥΓΚΟΙΝΩΝΙΕΣ» (ΣΤΑ.ΣΥ. Α.Ε), αρμόδια για τη λειτουργία των
                γραμμών 1
                (πρώην ηλεκτρικός σιδηρόδρομος), 2 & 3 του ΜΕΤΡΟ και του Τραμ. Οι τρεις εταιρείες αποτελούν τον Όμιλο
                Ο.Α.Σ.Α.
            </p>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>

</body>

</html>