<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Ανακοινώσεις</h1>
        </div>

        <div class="row">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ut dolore, beatae magni corrupti repellendus debitis hic consequatur voluptatum quos quidem illum aperiam totam at doloremque cupiditate ipsum? Tenetur.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ut dolore, beatae magni corrupti repellendus debitis hic consequatur voluptatum quos quidem illum aperiam totam at doloremque cupiditate ipsum? Tenetur.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ut dolore, beatae magni corrupti repellendus debitis hic consequatur voluptatum quos quidem illum aperiam totam at doloremque cupiditate ipsum? Tenetur.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ut dolore, beatae magni corrupti repellendus debitis hic consequatur voluptatum quos quidem illum aperiam totam at doloremque cupiditate ipsum? Tenetur.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui aspernatur ut dolore, beatae magni corrupti repellendus debitis hic consequatur voluptatum quos quidem illum aperiam totam at doloremque cupiditate ipsum? Tenetur.</p>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>

</body>

</html>