<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Προκυρήξεις</h1>
        </div>
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint modi dolor a impedit vero maiores, hic praesentium quam, animi autem id corporis error incidunt, suscipit iusto qui et natus itaque.
            </p>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>

</body>

</html>