<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>

    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Δικαιούχοι μειωμένου κομίστρου</h1>
        </div>

        <p>
            Διευκρινίζεται ότι το δικαίωμα μειωμένης μετακίνησης παρέχεται μόνο εφόσον το αρμόδιο Υπουργείο έχει
            προβλέψει την εγγραφή αντίστοιχης πίστωσης στις κατηγορίες δαπανών του προϋπολογισμού του και υπογράψει
            σύμβαση με τον ΟΑΣΑ στην οποία αναφέρονται ρητά οι κατηγορίες δικαιούχων που καλύπτονται, το αντίτιμο της
            παροχής καθώς και ο τρόπος καταβολής του (νόμος 3920/2011)
        </p>

        <p>
            Για περισσότερες πληροφορίες επικοινωνήστε με τη Δ/νση Κομίστρου Ο.Α.Σ.Α. στο τηλ. 210-8200936. Οι παρακάτω
            κατηγορίες επιβατών, σύμφωνα με την κείμενη νομοθεσία δικαιούνται να εκδίδουν εισιτήρια και κάρτες μειωμένης
            τιμής με την υποχρεωτική επίδειξη του κατά περίπτωση δικαιολογητικού (ακαδημαϊκή ταυτότητα, φοιτητικό πάσο,
            μαθητικό πάσο, κάρτα πολυτέκνων, αστυνομική Ταυτότητα, κτλ).
        </p>

        <br>

        <strong>Φοιτητές – Σπουδαστές Τριτοβάθμιας Εκπαίδευσης</strong>
        <p>
            Οι φοιτητές - σπουδαστές της τριτοβάθμιας εκπαίδευσης είναι δικαιούχοι μειωμένου κομίστρου για όλα τα Μ.Μ.Μ.
            αρμοδιότητας Ο.Α.Σ.Α. με την επίδειξη της Ακαδημαϊκής Ταυτότητας ( η οποία αντικατέστησε το Δελτίο Ειδικού
            Εισιτηρίου – πάσο). Περισσότερες πληροφορίες σχετικά με τις διαδικασίες του Υπουργείου Παιδείας σε ότι αφορά
            την προμήθεια των Ταυτοτήτων μπορείτε να δείτε στην ηλεκτρονική διεύθυνση:
            http://academicid.minedu.gov.gr/InfoMaterial.
        </p>

        <br>

        <strong>
            <p>
                Στις κατηγορίες των δικαιούχων φοιτητών και σπουδαστών δεν περιλαμβάνονται οι φοιτητές του Ελληνικού
                Ανοικτού Πανεπιστημίου (Γνωμοδότηση 99/2001 του Νομικού Συμβουλίου του Κράτους). Επιπρόσθετα, δεν
                δικαιούνται μειωμένο εισιτήριο οι φοιτητές - σπουδαστές που φοιτούν σε ιδιωτικά πανεπιστήμια - κολέγια.
            </p>
        </strong>

        <br>

        <strong>Μαθητές Πρωτοβάθμιας & Δευτεροβάθμιας Εκπαίδευσης</strong>
        <p>
            Οι μαθητές πρωτοβάθμιας και δευτεροβάθμιας εκπαίδευσης άνω των 18 ετών είναι δικαιούχοι μειωμένου κομίστρου
            για όλα τα Μ.Μ.Μ. αρμοδιότητας Ο.Α.Σ.Α. κατά τη διάρκεια του Σχολικού Έτους, με την επίδειξη του Δελτίου
            Μαθητικού Εισιτηρίου, όταν αυτό χορηγείται, μετά την υπογραφή Σύμβασης μεταξύ του ΟΑΣΑ και του Υπουργείου
            Παιδείας βάσει του νόμου 3920/2011. Τα Δ.Μ.Ε. χορηγούνται στους δικαιούχους μαθητές αποκλειστικά από τη
            Διεύθυνση του Σχολείου τους.
        </p>

        <br>

        <strong> Σπουδαστές Δημόσιων Ι.Ε.Κ.</strong>

        <p>
            Οι σπουδαστές Δημοσίων Ι.Ε.Κ. είναι δικαιούχοι μειωμένου κομίστρου για όλα τα Μ.Μ.Μ. αρμοδιότητας Ο.Α.Σ.Α
            μέχρι την ηλικία των 22 ετών με την επίδειξη Αστυνομικής ταυτότητας και Δελτίου Ειδικού Εισιτηρίου όταν αυτό
            χορηγείται, μετά την υπογραφή Σύμβασης μεταξύ του ΟΑΣΑ και του Υπουργείο Παιδείας βάσει του νόμου 3920/2011.
        </p>

        <br>

        <strong>Φοιτητές Σχολών Τριτοβάθμιας Εκπαίδευσης ή Πανεπιστημίων της αλλοδαπής</strong>

        <p>
            Φοιτητές Σχολών Τριτοβάθμιας Εκπαίδευσης ή Πανεπιστημίων της αλλοδαπής μέχρι την ηλικία των 25 ετών με την
            επίδειξη Φοιτητικής Ταυτότητας «Student Card – University ID» και Διαβατηρίου ή Ταυτότητας.
        </p>

        <br>

        <strong>Πολύτεκνοι και μέλη των οικογενειών τους</strong>

        <p>
            Οι πολύτεκνοι και τα μέλη των οικογενειών τους είναι δικαιούχοι μειωμένου κομίστρου για όλα τα Μ.Μ.Μ.
            αρμοδιότητας Ο.Α.Σ.Α. με την επίδειξη του ισχύοντος και θεωρημένου στο πίσω μέρος βιβλιαρίου πολυτέκνων, το
            οποίο χορηγείται στο δικαιούχο από την Ανώτατη Συνομοσπονδία Πολυτέκνων Ελλάδος. Σημειώνεται ότι οι
            οικογένειες με τρία τέκνα δεν εμπίπτουν στην κατηγορία των πολυτέκνων και συνεπώς δεν είναι δικαιούχοι
            μειωμένου κομίστρου. Για περισσότερες πληροφορίες επικοινωνήστε με την Α.Σ.Π.Ε. τηλ. 210 5238150.
        </p>
        <br>

        <strong> Παιδιά ηλικίας 7 έως 12 ετών</strong>

        <p>
            Όταν η έκδοση κομίστρου πραγματοποιείται με την παρουσία του παιδιού, δεν απαιτείται η επίδειξη
            δικαιολογητικού, καθώς η φυσική παρουσία του παιδιού πιστοποιεί ότι ανήκει στη συγκεκριμένη κατηγορία
            δικαιούχων. Το ίδιο ισχύει και κατά τον έλεγχο κομίστρου. Στην περίπτωση που η έκδοση κομίστρου
            πραγματοποιείται από τρίτο άτομο χωρίς την παρουσία του παιδιού, απαιτείται η επίδειξη δικαιολογητικού που
            να πιστοποιεί την ηλικία του. Καθώς στη συγκεκριμένη ηλικία δεν εκδίδεται αστυνομική ταυτότητα,
            επιδεικνύεται αντ’ αυτής βιβλιάριο ασθενείας, διαβατήριο ή πιστοποιητικό γέννησης.
        </p>

        <br>

        <strong>
            <p> Νέοι ηλικίας 13 έως 18 ετών με την επίδειξη Αστυνομικής ταυτότητας</p>
        </strong>

        <br>

        <strong>
            <p>Άτομα ηλικίας άνω των 65 ετών με την επίδειξη Αστυνομικής ταυτότητας</p>
        </strong>

        <br>

        <strong>Στοιχεία Επικοινωνίας</strong>

        <p>
            Τηλέφωνο: 210-82.00.999
        </p>
        <p>
            Φαξ: 210-82.12.219
        </p>
        <p>
            e-mail: oasa@oasa.gr
        </p>
    </div>

    <% include ../../partials/footer.ejs %>


</body>

</html>