<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="jumbotron text-white">
            <h1 class="display-4">Πληροφόρηση σε πραγματικό χρόνο</h1>
        </div>

        <div class="row">
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam libero illo quidem corporis facere neque officia omnis labore. Voluptatem asperiores maxime quia porro libero veritatis dolor eos debitis repellat distinctio!</P>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>

</body>

</html>

